.slider {
    width: 100%;
    margin: 0 auto;
    z-index: 6;
}

.slick-slide {
    margin: 0px;
    // width: cover;
    height: cover;
    position: relative;
    overflow: hidden;
}

.slick-slide img {
    background-color: #aaa;
    position: relative;
    @media (max-width:640px) {
        // right: 150%;
    }
    
}

.slick-prev:before,
.slick-next:before {
    color: #555;
    // font-size: 1.4rem;
}


.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}